.login{
position: relative;
 top: 150px;
 text-align: center;

}


.signup{
    position: absolute;
    top: 10px;
    right: 30px;
}
.a{
    text-decoration: none;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

}

.log-btn{
    height: 40px;
    width: 300px;
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}

.sub-in{
    position: relative;
    right: 100px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 0;


}




.pass-value{
height: 30px;
width: 300px;

border:none;
outline: none;
border-radius: 3px;

}

.log-email{
    background-color: rgb(160, 209, 209);

}

.change-in{
    position: relative;
    right: 70px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 0;

   
}

.table{
    position: relative;
    top: 40px;
}
.logout-btn{
top: 10px; 
position: absolute;
right:100px;
 border-radius: 6px; 
 border: none;
 color: black;
 
}
.signup-btn{
    top: 10px; 
    position: absolute;
    right:20px;
     border-radius: 6px; 
     border: none;
     color: black;
     
    }

.mb-3{
    width: 350px;
    position: relative;
    left: 500px;
}

.pass-in{
    position: relative;
    right: 120px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 0;

   
}


.sub-btn{
    height: 40px;
    width: 350px;
    background-color: rgb(165, 165, 230);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}

.createuser{
    position: relative;
    top: 30px;
    left: 20px;
    
    
}

.cre-input{
    width: 300px;
}

.create-btn{
    width: 150px;
    border: none;
    position: relative;
    left: 600px;
    border-radius: 7px;
    color: black;
    background-color: green;
}


.log-button{
    width: 300px;
}

.total{
    text-align: center;
}

.dash{
    text-align: center;
}